
{% extends "agence/base.html" %}
{% block content %}


<div class="container mt-5 mb-5">

    <div class="row" >
        <div class="col-lg-10"    >






            <div id="screens">
                <div class="grid">
                    <div class="letter-anim" >
                        
                  
                      <span data-letter="G">G</span>
                      </div>
                      <div class="letter-anim">
                      <span data-letter="A">A</span>
                       </div>
                       <div class="letter-anim">
                      <span data-letter="L">L</span>
                       </div>
                       <div class="letter-anim">
                      <span data-letter="T">T</span>
                       </div>
                       <div class="letter-anim">
                      <span data-letter="E">E</span>
                       </div>
                       <div class="letter-anim">
                      <span data-letter="C">C</span>
                       </div>
                       <div class="letter-anim">
                      <span data-letter="H">H</span>
                       </div>
                       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                       
                       <div class="letter-anim">
                      <span data-letter="A">A</span>
                       </div>
                       <div class="letter-anim">
                      <span data-letter="G">G</span>
                       </div>
                       <div class="letter-anim">
                      <span data-letter="E">E</span>
                       </div>
                       <div class="letter-anim">
                      <span data-letter="N">N</span>
                       </div>
                       <div class="letter-anim">
                      <span data-letter="C">C</span>
                       </div>
                       <div class="letter-anim">
                      <span data-letter="Y">Y</span>
                       </div>
                       </div> 
                <hr>
                
                
         
                






                
             
             <div class="sliderc">
                 <div class="meno">
                   <label for="sliderd1"></label>
                   <label for="sliderd2"></label>
                   <label for="slider3"></label>
                   <label for="slider4"></label>
                   <label for="slider5"></label>
                   <label for="slider6"></label>
                   <label for="slider7"></label>
                   <label for="slider8"></label>
                 </div>
                 <input class="sliderinput" id="sliderd1" type="radio" name="sliders" checked>
                 {% load static %}
                 <img class="sliderimg" src="{% static 'agence/images/ag.jpg' %}" alt="image1">
                 <input class="sliderinput" id="sliderd2" type="radio" name="sliders">
                 <img class="sliderimg" src="{% static 'agence/images/OIP.jpg' %}" alt="image2">
                 <input class="sliderinput" id="slider3" type="radio" name="sliders">
                 <img class="sliderimg" src="{% static 'agence/images/OIP1.jpg' %}" alt="image3">
                 <input class="sliderinput" id="slider4" type="radio" name="sliders">
                 <img class="sliderimg" src="{% static 'agence/images/i.jpg' %}" alt="image4">
                 <input class="sliderinput" id="slider5" type="radio" name="sliders">
                 <img class="sliderimg" src="{% static 'agence/images/OIPi.jpg' %}" alt="image5">
                 <input class="sliderinput" id="slider6" type="radio" name="sliders">
                 <img class="sliderimg" src="{% static 'agence/images/hotel-destaque.jpg' %}" alt="image6">
                 <input class="sliderinput" id="slider7" type="radio" name="sliders">
                 <img class="sliderimg" src="{% static 'agence/images/images-1.jpg' %}" alt="image7">
                 <input class="sliderinput" id="slider8" type="radio" name="sliders">
                 <img class="sliderimg" src="{% static 'agence/images/images-2.jpg' %}" alt="image8">
                 <input class="sliderinput" id="sliderd1" type="radio" name="sliders" checked>
                 <img class="sliderimg" src="{% static 'agence/images/images-3.jpg' %}" alt="image9">
                 <input class="sliderinput" id="sliderd1" type="radio" name="sliders" checked>
                 <img class="sliderimg" src="{% static 'agence/images/images-4.jpg' %}" alt="image10">
                 <input class="sliderinput" id="sliderd1" type="radio" name="sliders" checked>
                 <img class="sliderimg" src="{% static 'agence/images/images-5.jpg' %}" alt="image11">
                 <input class="sliderinput" id="sliderd1" type="radio" name="sliders" checked>
                 <img class="sliderimg" src="{% static 'agence/images/images-6.jpg' %}" alt="image12">
                  <input class="sliderinput" id="sliderd1" type="radio" name="sliders" checked>
                  <img class="sliderimg" src="{% static 'agence/images/images-7.jpg' %}" alt="image13">
                 <input class="sliderinput" id="sliderd1" type="radio" name="sliders" checked>
                 <img class="sliderimg" src="{% static 'agence/images/galtechh.jpg' %}" alt="image14S">
                
               </div>
                 </div>
                 </div>          
           
                 
        
        
        






    






</div>
   </div>
        </div>

    {% endblock %} 