{% extends "agence/base.html" %}
{% block content %}
  

<div class="container mt-5 mb-5 " >
  
  <div><h1 align="center"> <font color="blue" ><span> BIENVENUE CHEZ-NOUS </span></font> </h1></div>
  <div id="screens">
    <div class="grid">
        <div class="letter-anim" >
            
      
          <span data-letter="G">G</span>
          </div>
          <div class="letter-anim">
          <span data-letter="A">A</span>
           </div>
           <div class="letter-anim">
          <span data-letter="L">L</span>
           </div>
           <div class="letter-anim">
          <span data-letter="T">T</span>
           </div>
           <div class="letter-anim">
          <span data-letter="E">E</span>
           </div>
           <div class="letter-anim">
          <span data-letter="C">C</span>
           </div>
           <div class="letter-anim">
          <span data-letter="H">H</span>
           </div>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           
           <div class="letter-anim">
          <span data-letter="A">A</span>
           </div>
           <div class="letter-anim">
          <span data-letter="G">G</span>
           </div>
           <div class="letter-anim">
          <span data-letter="E">E</span>
           </div>
           <div class="letter-anim">
          <span data-letter="N">N</span>
           </div>
           <div class="letter-anim">
          <span data-letter="C">C</span>
           </div>
           <div class="letter-anim">
          <span data-letter="Y">Y</span>
           </div>
           </div> 
    <hr>
    <div>
   {% load static %}
 <img src="{% static 'agence/images/logowade.png' %}" alt="Accueil">

        
        



        


      </div>
    </div>   

</div>

  {% endblock %} 