{% extends "agence/base.html" %}
{% block content %}



<div><h1 align="center"> <font color="blue" ><span> QUI SOMMES-NOUS ? </span></font> </h1>
    <div>


        <hr>
        <div>
        <p class="n" style="color: #111;font-family: cursive;font-size: 120%; text-align: justify;"><b> GALTECH AGENCY </b> est fondé par un informaticien passionné <b>(UN WADISTE de son vrai nom Pape Galaye WADE spécialisé en cybersécurité mais aussi un développeur web car étant diplômé en ingénierie informatique)</b> et convaincu de la demande</br>tant de la part des professionnels dont son objectif est de maximiser les revenus et de fournir un excellent service clientel.</p>

        <p class="n" style="color:#111 ;font-family: cursive;font-size: 120%; text-align: justify;">Notre travail consiste principalement à réaliser votre iténérance selon vos envies et à réserver les hôtels, les transports, la restauration ... Ceci fait notre originalité: C'est une volonté afin de nous disperser et garder une expertise partout dans le monde.</p>
        <h1>Nos valeurs sont les suivantes:</h1>
        <ul class="box" style="color:#111 ;font-family: cursive;font-size: 120%; text-align: justify;" "background:white";>
          <li>Des rapports fondés sur l'honnêteté et la transparence </li>
          <li>Le souhait de toujours trouver une solution qui vous satisfasse pour votre séjour</li>
          <li>La volonté de toujours vouloir donner la meilleure réservation aux clients, tout autre acte étant pour nous un aveu d'échec</li>
          
        </ul>
        <p class="n" style="color: #111;font-family: cursive;font-size: 130%; text-align: justify;"><b>Nous travaillons beaucoup au service de professionnels.</b>nous avons donc mis en place des <b>Processus rigoureux,</b>formidables.</p>
          <p class="n" style="color:#111;font-family: cursive;font-size: 130%; text-align: justify;"><b>Nos collaborateurs sont tous expérimentés et professionnels,</b>passionnés . Nous sommes à même de vous fournir un conseil à valeur ajoutée, notre espoir est que vous soyez satisfaits et que vous ayez envie de conseillez notre agence à votre entourage.</p><br>
          
        
           </div>
































{% endblock %} 