{% extends "agence/base.html" %}
{% block content %}
<div class="container mt-5 mb-5">
    <h3 class="mb-3"> Venez réserver vos vacances Chez Galtech_Agence, la meilleure agence</h3>
    <div class="row">
        <div class="col-lg-4">
                <div class="card shaddow" style="width: 19rem;">
                  {% load static %}
                 <img src="{% static 'agence/images/terroubi.jpg' %}" alt="Hotel terroubi">

                   
                    <div class="card-body">
                      <h5 class="card-title">Hôtel Terroubi de Dakar</h5> 
                      <p class="card-text">En plein centre de Dakar, venez vivre une expérience unique, celle du Terrou Bi.</br> Face à la mer, le Terroubi propose un hébergement contemporain, une connexion wifi gratuite, une piscine extérieure, un jardin...</p>
                      
                      <a href="reserver" class="btn btn-success ">Réserver dès maintenant</a>
                      
                    </div>
                  </div>   
    
            </div>
            <div class="col-lg-4">
                <div class="card shaddow" style="width: 19rem;">
                  {% load static %}
                  <img src="{% static 'agence/images/pp1.jpg' %}" alt="Le lamantin à saly">
                
                    <div class="card-body">
                      <h5 class="card-title">Le Lamantin de Saly </h5>
                      <p class="card-text">Hôtel Saly, Sénégal &nbsp;&nbsp;</br>A 80 kilométres au Sud de Dakar sur la petite côte, au bord d'une longue et grande plage, entre la mer et le fôret sacré de Bandian, la station balnéaire de Saly.</br></br></p>
                      
                      <a href="/reserver" class="btn btn-success">Réserver dès maintenant</a>
                    </div>
                </div>   
    
            </div>
            <div class="col-lg-4">
                <div class="card shaddow" style="width: 19rem;">
                    {% load static %}
                    <img src="{% static 'agence/images/257.jpeg' %}" alt="image">

                      <div class="card-body">
                        <h5 class="card-title">Le Ndar Ndar House </h5>
                        <p class="card-text">Situé à Saint-Louis, à moins de 1.5 Km de la plage d'Hydrobase. Il propose un bureau d'excursions, des chambres non-fumeurs, une terrasse, une connexion wifi gratuite et un bar.</br></br></p>
                      
                      <a href="/reserver" class="btn btn-success">Réserver dès maintenant</a>
                     </div>
                </div>   
    
            </div>
            

        
    </div>
</div>

{% endblock %}